.divCommunity {
  box-shadow: 10px 8px rgb(0 0 0 / 60%);
  background-color: rgba(235, 225, 225, 0.8);
  background-image: url(https://p4.wallpaperbetter.com/wallpaper/892/8/929/batman-logo-black-batman-wallpaper-preview.jpg);
  border-radius: 15px;
  padding: 20px;
  width: 60%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.divTitle {
  color: white;
  width: 80%;
  font-weight: bold;
  font-size: 20px;
  border: none;
  padding: 20px;
  background-color: transparent;
}

.divContents {
  color: white;
  width: 70%;
  font-weight: bold;
  font-size: 20px;
  border: none;
  padding: 20px;
  background-color: transparent;
  margin-left: 10px;
}

.wrap {
  position: relative;
}

.community-Btn {
  position: absolute;
  right: 110px;
  top: 10px;
  width: 100px;
  height: 50px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  border: 0 solid;
  box-shadow: inset 1 1 20px rgba(255, 255, 255, 0);
  outline: 2px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: all 1.25s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.25s cubic-bezier(0.19, 1, 0.22, 1);
}

.community-Btn:hover {
  border: 3px solid;
  box-shadow: inset 0 0 20px rgba(152, 200, 223, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(230, 13, 13, 0);
  outline-offset: 30px;
  text-shadow: 3px 3px 5px #427388;
}

.CompleteBtn > button {
  /* width: 80px;
  border: none;
  padding: 20px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 20px;
  background-color: rgba(194, 190, 190, 0.8);
  margin-left: 60px; */
  cursor: pointer;
  width: 80px;
  padding: 20px;
  font-size: 13px;
  border-radius: 20px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  margin-left: 60px;
  border: 3px solid rgba(255, 255, 255, 0.2);
  transition: 0.4s;
}

.CancelBtn > button {
  /* width: 80px;
  border: none;
  padding: 20px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 20px;
  background-color: rgba(194, 190, 190, 0.8);
  margin-left: 10px; */
  cursor: pointer;
  width: 80px;
  padding: 20px;
  font-size: 13px;
  border-radius: 20px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  margin-left: 60px;
  border: 3px solid rgba(255, 255, 255, 0.2);
  transition: 0.4s;
  margin-left: 10px;
}

.CompleteBtn > button:hover {
  z-index: 1;
  border-color: transparent;
  background: linear-gradient(90deg, #a9a9a9, #00a19d, #0c87b7, #cb49ff, #6a5acd, #483d8b);
  background-size: 400%;
  box-shadow: 0 0 15px rgb(2, 4, 24);
  animation: glow 12s linear forwards;
}

@keyframes glow {
  from {
    background-position: 0%;
  }
  to {
    background-position: 400%;
  }
}

.CancelBtn > button:hover {
  z-index: 1;
  border-color: transparent;
  background: linear-gradient(90deg, #a9a9a9, #00a19d, #0c87b7, #cb49ff, #6a5acd, #483d8b);
  background-size: 400%;
  box-shadow: 0 0 15px rgb(2, 4, 24);
  animation: glow 12s linear forwards;
}

.CompleteBtn > button::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: 1px;
  left: -1px;
  filter: blur(36px);
  z-index: -1;
  opacity: 0;
  transition: -4s ease-out;
}

.CompleteBtn > button:hover::before {
  opacity: 1;
  z-index: -1;
}

.CancelBtn > button::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: 1px;
  left: -1px;
  filter: blur(36px);
  z-index: -1;
  opacity: 0;
  transition: -4s ease-out;
}

.CancelBtn > button:hover::before {
  opacity: 1;
  z-index: -1;
}
