@font-face {
  font-family: 'KOTRALEAP';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRALEAP.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #838282;
}

.detail_layout {
  font-family: "KOTRALEAP";
  display: grid;
  justify-items: center;
  width: 100vw;
  max-width: 1280px;
  height: 90%;
  margin: auto;
}
