@font-face {
  font-family: 'KOTRALEAP';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRALEAP.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

:root {
  --color-text: rgb(0, 0, 0);
  --color-gray: rgb(82, 82, 82);
  --color-bg-white: rgb(255, 255, 255);
  --color-bg-darkmMode: rgb(255, 255, 255);
}

html.dark {
  --color-text: rgb(255, 255, 255);
  --color-gray: rgb(255, 255, 255);
  --color-bg-white: rgb(29, 29, 29);
  --color-bg-darkmMode: rgb(0, 0, 0);
}
body {
  background-color: var(--color-bg-darkmMode);
}

.detail_layout {
  font-family: 'KOTRALEAP';
  display: grid;
  justify-items: center;
  width: 100vw;
  max-width: 1280px;
  height: 90%;
  margin: auto;
}
