.news_body {
  width: 80%;
  height: 40vh;
  border-radius: 15px;

  margin-top: 9vh;
}

.news_title {
  height: 13%;
  display: flex;
  align-items: center;

  font-size: 1.8rem;
  font-weight: 600;
}

.news_main {
  height: 50%;
}

.news_img {
  height: 100%;
}
.news_img img {
  width: 100%;
  height: 100%;

  border-radius: 15px;
}
