/* .wrapper {
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
=======
  min-height: 100vh;
} */

/* .wrapper {
  display: flex;
  flex-direction: column;
>>>>>>> d8461ebc8542671fab59000efe4bb034b2249572
  height: 100%;
}

.contentWrapper {
  flex: 1;
} */
