.list {
  width: 20%;
  height: 100vh;

  margin-left: 2%;
}
.Topleagues {
  font-size: 2.3rem;
  font-weight: 600;
}

.Epl,
.Laliga,
.SerieA {
  font-size: 1.6rem;
  font-weight: 400;

  cursor: pointer;
  margin-bottom: 10%;
}

/* 우측 랭킹 리스트 */
.Ranking {
  width: 20%;

  margin-right: 2%;
}

.rank_title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.6rem;
}

.rank_title img {
  width: 50px;
  height: 50px;
  background-color: white;
}

.rank_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rank_list img {
  width: 50px;
  height: 50px;
}

.list_logo {
  display: flex;
  align-items: center;
}
