.Ranking_body {
  width: 18%;
  margin-right: 2%;
}

/* 헤더 */
.rank_header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: white;
  border-radius: 15px;

  overflow: hidden;

  padding: 3%;
  margin-bottom: 10%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.12), 0 3px 2px rgba(0, 0, 0, 0.24);
}

.rank_header:hover {
  transform: scale(1.02);
}

.rank_title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.8rem;
  font-weight: 550;
}

.rank_title img {
  width: 50px;
  height: 50px;
  background-color: white;
}

.rank_text {
  color: rgb(133, 131, 131);

  font-size: 1.3rem;
  font-weight: 550;
}
.rank_logo {
  width: 35px;
  height: 35px;
}

.ranking_list_title {
  font-size: 1.5rem;
  font-weight: 600;

  margin-bottom: 10%;
}

/* 랭킹 리스트 */
.rank_list {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: white;
  border-radius: 15px;

  overflow: hidden;
  padding: 2%;
  margin-bottom: 10%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.12), 0 3px 2px rgba(0, 0, 0, 0.24);
}

.rank_list:hover {
  transform: scale(1.04);
}

.rank_list img {
  width: 50px;
  height: 50px;
}

.list_logo {
  display: flex;
  align-items: center;

  width: 100%;
}

.rank_list_name {
  font-size: 1.1rem;
  font-weight: 600;

  margin-left: 4%;
}
