.bet_layout {
  width: 100%;
  max-width: 1280px;
  align-items: center;
  margin-top: 1rem;
  background: white;
  border-radius: 1rem;
}
.bet_body {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}
.bet {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
.bet_disabled {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  cursor: not-allowed;
}
.bet_to {
  width: 200px;
  height: 200px;
  border: none;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}
.bet_to_disabled {
  width: 200px;
  height: 200px;
  border: none;
  border-radius: 50%;
  background: white;
  cursor: not-allowed;
}
.bet_to:hover {
  background-color: rgba(0 0 0/10%);
  transition: 1s ease;
}
.bet_on {
  width: 200px;
  height: 200px;
  border: none;
  border-radius: 50%;
  background: gray;
  cursor: pointer;
}

.bet_btn {
  width: 15rem;
  height: 2rem;
  border: none;
  background: white;
  color: black;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}
