.header {
  background-color: #03031d;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  padding-left: 20px;
  padding-right: 30px;
  position: sticky;
  top: 0;
}

.mainlogo {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.inputsize {
  border-radius: 12px;
  height: 30px;
  text-align: center;
}

.navi {
  cursor: pointer;
}
